USE [master]
GO
/****** Object:  Database [HanaShopDB]    Script Date: 6/14/2020 12:01:38 AM ******/
CREATE DATABASE [HanaShopDB]
GO
USE [HanaShopDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignPositions]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignPositions](
	[StaffID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[Desc] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AssignPositions] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[PositionID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banners]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](250) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingLogs]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingLogs](
	[TransactionID] [nvarchar](128) NOT NULL,
	[Step] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Member] [int] NOT NULL,
	[PostJson] [nvarchar](max) NULL,
	[PartnerResult] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BookingLogs] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[Step] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[Phone] [nvarchar](50) NULL,
	[Mail] [nvarchar](150) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](550) NULL,
	[Member] [int] NOT NULL,
	[Rate] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberLevels]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLevels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Point] [float] NOT NULL,
	[Rank] [int] NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MemberLevels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberReceiptInfos]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberReceiptInfos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Member] [int] NOT NULL,
	[Phone] [nvarchar](250) NULL,
	[FullName] [nvarchar](250) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MemberReceiptInfos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](350) NULL,
	[Phone] [nvarchar](50) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](150) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[DateJoin] [datetime] NOT NULL,
	[Platform] [nvarchar](max) NULL,
	[BirthDay] [datetime] NULL,
	[AccumulatedPoints] [float] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[ViewNumber] [int] NOT NULL,
	[MetaTitle] [nvarchar](60) NULL,
	[MetaDesc] [nvarchar](160) NULL,
	[MetaKeyword] [nvarchar](260) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Code] [nvarchar](250) NOT NULL,
	[Product] [bigint] NOT NULL,
	[Price] [float] NOT NULL,
	[Reduce] [float] NOT NULL,
	[Qty] [int] NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Date] [datetime] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[StatusPayment] [int] NOT NULL,
	[StatusOrder] [int] NOT NULL,
	[Member] [int] NOT NULL,
	[Receipt] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Reduce] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[DateUpdate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Positions]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](550) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategorys]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategorys](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](350) NULL,
	[Rank] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategorys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductFeedbacks]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductFeedbacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Product] [bigint] NOT NULL,
	[Rate] [int] NOT NULL,
	[Comment] [nvarchar](850) NULL,
	[Files] [nvarchar](max) NULL,
	[Member] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductFeedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[Staff] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Category] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Rate] [float] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](6) NULL,
	[Title] [nvarchar](250) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Desc] [nvarchar](350) NULL,
	[Content] [nvarchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Limit] [int] NOT NULL,
	[StartAge] [int] NOT NULL,
	[EndAge] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[MemberLevel] [int] NOT NULL,
	[MemberPoint] [float] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Staff] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Promotions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Address] [nvarchar](350) NULL,
	[BirthDay] [datetime] NULL,
	[Phone] [nvarchar](50) NULL,
	[Gender] [int] NOT NULL,
	[Mail] [nvarchar](150) NULL,
	[Account] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 6/14/2020 12:01:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[IsApplyOrder] [bit] NOT NULL,
	[Product] [nvarchar](max) NULL,
	[AmountReduced] [int] NOT NULL,
	[PercentReduced] [float] NOT NULL,
	[DateUsed] [datetime] NULL,
	[IsUsed] [bit] NOT NULL,
	[Staff] [bigint] NOT NULL,
	[Promotion] [bigint] NOT NULL,
	[Receiver] [int] NOT NULL,
	[IsReceiver] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Vouchers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([ID], [Avatar], [Desc], [Status]) VALUES (1, N'http://localhost:44351//Content/FileUploads/images/sl1.jpg', N'slider-1', 1)
INSERT [dbo].[Banners] ([ID], [Avatar], [Desc], [Status]) VALUES (2, N'http://localhost:44351//Content/FileUploads/images/sl2.jpg', N'slider-2', 1)
SET IDENTITY_INSERT [dbo].[Banners] OFF
SET IDENTITY_INSERT [dbo].[MemberLevels] ON 

INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, 0, 1, N'Thành Viên', N'Thành Viên', CAST(N'2020-06-13 23:51:10.253' AS DateTime), N'admin', CAST(N'2020-06-13 23:51:10.253' AS DateTime), N'admin', 1)
INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, 1000, 2, N'Thành Viên Đồng', N'Thành Viên Đồng', CAST(N'2020-06-13 23:51:23.910' AS DateTime), N'admin', CAST(N'2020-06-13 23:51:23.910' AS DateTime), N'admin', 1)
INSERT [dbo].[MemberLevels] ([ID], [Point], [Rank], [Name], [Desc], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, 5000, 3, N'Thành Viên Bạc', N'Thành Viên Bạc', CAST(N'2020-06-13 23:51:37.807' AS DateTime), N'admin', CAST(N'2020-06-13 23:51:37.807' AS DateTime), N'admin', 1)
SET IDENTITY_INSERT [dbo].[MemberLevels] OFF
SET IDENTITY_INSERT [dbo].[MemberReceiptInfos] ON 

INSERT [dbo].[MemberReceiptInfos] ([ID], [Member], [Phone], [FullName], [Address]) VALUES (1, 1, N'0123456789', N'Thơm', N'123 Huỳnh Văn Lũy, Thủ Dầu Một, Bình Dương')
INSERT [dbo].[MemberReceiptInfos] ([ID], [Member], [Phone], [FullName], [Address]) VALUES (2, 2, N'1231231231', N'Lộc', N'245 Đại Lộ Bình Dương, Thuận Giao, Thuận An, Bình Dương')
SET IDENTITY_INSERT [dbo].[MemberReceiptInfos] OFF
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([ID], [Name], [Address], [Phone], [Gender], [Mail], [Account], [Password], [DateJoin], [Platform], [BirthDay], [AccumulatedPoints], [Status]) VALUES (1, N'Thom Nguyen', N'KDC Thuan Giao - Thuan An - Binh DUong - Viet Nam', N'0123456789', 0, N'demo@gmail.com', N'thomnguyen', N'123456', CAST(N'2020-06-12 20:08:18.393' AS DateTime), N'Web', CAST(N'1994-06-15 00:00:00.000' AS DateTime), 7500, 1)
INSERT [dbo].[Members] ([ID], [Name], [Address], [Phone], [Gender], [Mail], [Account], [Password], [DateJoin], [Platform], [BirthDay], [AccumulatedPoints], [Status]) VALUES (2, N'Lê Lộc', N'245 Đại Lộ Bình Dương, Thuận Giao, Thuận An, Bình Dương', N'0123456789', 0, N'demo@gmail.com', N'loclebd', N'123456', CAST(N'2020-06-13 22:17:19.183' AS DateTime), N'Web', NULL, 2000, 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'2MPUVFOQ', 2, 250000, 0, 2, 500000)
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'2MPUVFOQ', 3, 500000, 0, 2, 1000000)
INSERT [dbo].[OrderDetails] ([Code], [Product], [Price], [Reduce], [Qty], [Total]) VALUES (N'2VDO60W', 7, 750000, 0, 10, 7500000)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Receipt], [Amount], [Reduce], [Total], [DateUpdate]) VALUES (1, N'2MPUVFOQ', CAST(N'2020-06-13 23:32:28.873' AS DateTime), 1, 1, 1, 2, 2, 1500000, 0, 1500000, CAST(N'2020-06-13 23:52:07.963' AS DateTime))
INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Receipt], [Amount], [Reduce], [Total], [DateUpdate]) VALUES (2, N'W7BJ84D', CAST(N'2020-06-13 23:46:33.543' AS DateTime), 1, 1, 1, 2, 2, 500000, 0, 500000, CAST(N'2020-06-13 23:52:11.407' AS DateTime))
INSERT [dbo].[Orders] ([ID], [Code], [Date], [TypePayment], [StatusPayment], [StatusOrder], [Member], [Receipt], [Amount], [Reduce], [Total], [DateUpdate]) VALUES (3, N'2VDO60W', CAST(N'2020-06-13 23:49:51.700' AS DateTime), 1, 1, 1, 1, 1, 7500000, 0, 7500000, CAST(N'2020-06-13 23:52:15.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[ProductCategorys] ON 

INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Mắt Kính Nam', N'Mắt Kính Thời Trang Nam', 1, N'http://localhost:44351//Content/FileUploads/images/2.png', CAST(N'2020-06-12 17:41:35.497' AS DateTime), NULL, CAST(N'2020-06-12 20:49:09.697' AS DateTime), NULL, 1)
INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (2, N'Mắt Kính Nữ', N'Mắt Kính Thời Trang Nữ', 2, N'http://localhost:44351//Content/FileUploads/images/6.jpg', CAST(N'2020-06-12 17:42:22.500' AS DateTime), NULL, CAST(N'2020-06-12 20:49:14.790' AS DateTime), NULL, 1)
INSERT [dbo].[ProductCategorys] ([ID], [Title], [Desc], [Rank], [Avatar], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (3, N'Mắt Kính Trẻ Em', N'Mắt Kính Thời Trang Trẻ Em', 3, N'http://localhost:44351//Content/FileUploads/images/16.jpg', CAST(N'2020-06-12 17:42:48.823' AS DateTime), NULL, CAST(N'2020-06-12 20:49:20.457' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductCategorys] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Promotions] ON 

SET IDENTITY_INSERT [dbo].[Promotions] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([ID], [Name], [Address], [BirthDay], [Phone], [Gender], [Mail], [Account], [Password], [CreateDate], [CreateBy], [ModifyDate], [ModifyBy], [Status]) VALUES (1, N'Quản trị viên', N'Main', NULL, N'Main', 1, N'Main', N'admin', N'admin', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [Product], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Staff], [Promotion], [Receiver], [IsReceiver]) VALUES (1, N'KM-20-0vb4m35m3', 1, 1, NULL, 0, 10, NULL, 0, 0, 1, 0, 0)
INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [Product], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Staff], [Promotion], [Receiver], [IsReceiver]) VALUES (2, N'KM-20-1pykcsq4h', 1, 1, NULL, 0, 10, NULL, 0, 0, 1, 0, 0)
INSERT [dbo].[Vouchers] ([ID], [Code], [Type], [IsApplyOrder], [Product], [AmountReduced], [PercentReduced], [DateUsed], [IsUsed], [Staff], [Promotion], [Receiver], [IsReceiver]) VALUES (3, N'KM-20-ykvv6p32c', 1, 1, NULL, 0, 10, NULL, 0, 0, 1, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
USE [master]
GO
